*.egg-info
**/*.pyc
**/__pycache__
**/.*.swp
pegaflow/example/scratch/**
pegaflow/example/work/**
pegaflow/example/*.dag
pegaflow/example/*.xml
pegaflow/example/runningWorkflows.txt
.autotools
.cproject
.depend
.idea
.project
.pydevproject
.settings
.spyderproject
.tags
.tags1
.vscode
build
Debug
data
dist
tags
target
